body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  background-color: $backgroundMainColour;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: $headerColour;
  padding: 20px;
}

h1,
h2 {
  font-weight: 300;
}

@media (min-width: 620px) {
  h1,
  h2 {
    font-size: 2rem;
  }
}
